.slider {
  position: relative;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.slider-btn.prev {
  left: 1px;
}

.slider-btn.next {
  right: 1px;
}

.slider-counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: white;
  font-size: 18px;
}

.chevron-slider {
  font-size: 90px;
}

@media (max-width: 1024px) {
  .slider {
    height: 300px;
  }

  .chevron-slider {
  font-size: 44px;
}
}


@media (max-width: 480px) {
  .slider {
    height: 255px;
  }

  .chevron-slider {
  font-size: 24px;
}

.slider-counter {
    display: none;
  }
}

