.host {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.host-name {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
}

.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}