.rating {
  display: flex;
  gap: 10px;
  
}

.rating-star {
  font-size: 23px;
  color:#E3E3E3; 
}

.rating-star-filled {
  color: #ff6060; 
}

@media (max-width: 1024px) {
  .rating{
    gap: 8px;
  }

  .rating-star{
    font-size: 18px;
  }

}

@media (max-width: 480px) {
  .rating{
    gap: 5px;
  }

  .rating-star{
    font-size: 13px;
  }

}