.apartment-info h1 {
  font-size: 36px;
  color: #ff6060;
  font-weight: 500;
  margin-bottom: 0px;
}

.apartment-info p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

.apartment-header {
  display: flex;
  justify-content: space-between;
}

.apartment-aside {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.apartment-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 30px;
}

.apartment-details .collapse {
  margin: 0;
}

.apartment-details .title-collapse {
  font-size: 16px;
  border-radius: 10px;
}

.apartment-details ul {
  list-style: none;
  padding: 0;
}

.apartment-details .content-collapse {
  height: 300px;
}


@media (max-width: 1024px) {
   
  .apartment-info h1 {
    font-size: 28px;
  }

  .apartment-info p {
    font-size: 16px;
  }

  .apartment-details {
    gap: 40px;
  }
  
}

@media (max-width: 768px) {
 .apartment-header {
    flex-direction: column;
  }

  .apartment-aside {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

 .apartment-details .content-collapse {
    height: auto;           
  }

  .apartment-details {
    grid-template-columns: 1fr;  
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 25px;
  }

}

@media (max-width: 480px) {

  .apartment-info h1 {
    font-size: 18px;
  }

  .apartment-info p {
    font-size: 14px;
  }
.apartment-details .title-collapse {
    font-size: 13px;
  }
 
}