
.kasa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.kasa-logo img {
  height: 68px;
  width: 100%;
}

.kasa-nav {
  display: flex;
  gap: 50px;
  font-weight: 500;
  font-size: 24px;
}

.kasa-nav a {
  text-decoration: none;
  color: #000000;
}

.kasa-nav a.active{
   text-decoration: underline;
}

/* tablette */
@media (max-width: 1024px) {
  .kasa-header {
    padding: 20px;
  }

  .kasa-logo img {
    height: 46px;
    width: auto;
  }

  .kasa-nav {
    gap: 20px;
    font-size: 14px;
    text-transform: uppercase;
  }
}

/* mobile */
@media (max-width: 480px) {
  .kasa-header {
    padding: 12px 16px;   
    gap: 50px;
  }

  .kasa-logo img {
    height: 36px;                
    width: auto;
    flex-shrink: 0;              
  }

  .kasa-nav {
    gap: 10px;
    font-size: 12px;              
  }

  .kasa-nav a {
    white-space: nowrap;
  }
}