.collapse {
  margin: 30px 115px;
}

.title-collapse {
  width: 100%;
  border-radius: 5px;
  height: 52px;
  padding: 0 16px;
  background-color: #ff6060;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

.title-collapse i {
  font-size: 24px;
}

.content-collapse {
  padding-left: 15px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #f6f6f6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.content-collapse.open {
  max-height: 400px;
}

.content-collapse > * {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}

.collapse.open .content-collapse > * {
  transform: translateY(0);
}

@media (max-width: 1024px) {
  .collapse {
    margin: 30px 75px;
  }

  .title-collapse {
    height: 40px;
    font-size: 18px;
  }

  .content-collapse {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .collapse {
    margin: 20px 0px;
  }

  .title-collapse {
    height: 30px;
    font-size: 13px;
    padding-right: 10px;
  }

  .title-collapse i {
    font-size: 18px;
  }

  .content-collapse {
    font-size: 14px;
  }
}
